/* General Styles */
.navbar {
  background-color: #333;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.nav-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  transition: max-height 0.3s ease;
  max-height: 0;
  overflow: hidden;
}

.nav-menu.open {
  max-height: 500px; /* Arbitrary large value to show menu */
}

.nav-item {
  margin-right: 15px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  padding: 10px 15px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffc107; /* Change color on hover */
}

.active {
  font-weight: bold;
  color: #ffc107; /* Active link color */
}

/* Burger Menu Icon */
.menu-icon {
  display: none;
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .nav-menu {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center;
  }

  .nav-item {
    margin-right: 0; /* Remove right margin */
    margin-bottom: 10px; /* Add bottom margin */
  }

  .nav-link {
    font-size: 1em; /* Reduce font size */
  }

  .menu-icon {
    display: block; /* Show menu icon */
  }
}
